<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
<!--Note: Href is not "../public/css/base.css" instead below-->
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
</head>
<body>
    <canvas id="gameCanvas"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <script>
        const canvas = document.getElementById('gameCanvas');
        const ctx = canvas.getContext('2d');
        
        canvas.width = window.width;
        canvas.height = window.height;
        
        window.addEventListener('resize', () => {
            canvas.width = window.width;
            canvas.height = window.height;
            // console.log(canvas.width, window.width);
            // console.log(canvas.height, window.height);
        });
    </script>
</body>
</html>